body {
     background:#f0f1f1;
     font-family: 'Lato', sans-serif;
     color: #212121;
}
.wrapper_wide {
    width: 90%;
    margin: 0 auto;
  }
  .wrapper {
   width: 80%;
   margin: 0 auto;
  }
  .wrapper_skinny {
   width: 60%;
   margin: 0 auto;
  }
  .cf:before, cf:after {
   content: " ";
   display: table;
  }
  cf:after {
   clear: both;
  }
  