header {
	padding: 0.9rem;
    background: #131313;
    color: #f1ffff;
  
		.branding {
    max-width: 60%;
    display: inline-table;  
		margin: 0;
    float: left;
    text-transform: uppercase;
      a{
        color:#f1ffff;
      }
		}
			a {
			color: #ffd700;
			font-weight: bold;
      display: block;
      text-decoration: none;
      }	
      .main-navigation { 
        max-width: 32%;
        display: inline-table;
        margin-left: 15rem;
        li{
          list-style: none;
        }
      }	
}
