<header class="container main-header" role="banner">
      {{ page.header }}
        <div class="branding">
         {{page.brand}}
        </div>
    
   <div class="main-navigation">
    {{ page.main_navigation}}
   </div> 

</header>