<header class="cf" role="banner">
    <div class="wrapper_wide">
        {{ page.header }}
    </div>
</header>

<div class="wrapper">
  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="wrapper_skinny">
      {{ page.content }}
    </div>{# /.wrapper_skinny #}

  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

</div>{# /.wrapper #}
