{% include directory ~ '/partials/main--header.html.twig' %}

  <div class="board">
  <section class="container wrapper" role="main">
      {{ page.content }}
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
  </section>
  </div>
{% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}
  