<header class="cf" role="banner">
    <div class="wrapper_wide">
        {{ page.header }}
    </div>
</header>

<div class="wrapper">
  <section class="cf" role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="wrapper">
      {{ page.content }}
    </div>{# /.wrapper #}

  </section>

  </div>{# /.wrapper #}

{% if page.footer %}
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}